.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    .card {
        width: 45%;
        position: relative;
        height: 400px;
        &:nth-child(2) {
            .backIntrdution {
                background-color: #ca141e;
            }
        }
        .backIntrdution {
            width: 100%;
            height: 310px;
            background-color: #0064aa;
            padding: 30px 25px;
            border-radius: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            box-sizing: border-box;
            transition: all .5s ease-in-out;
            clip-path: circle(30% at 50% 50%);
            h1,p,button {
                transition: all .5s ease-in-out;
                opacity: 0;
            }
            p {
                max-width: 300px;
            }
            button {
                width: 100px;
                height: 60px;
                border-radius: 20px;
                border: none;
                &:hover {
                    transform: scale(1.1);
                }
            } 
            
        }
        img {
            position: absolute;
            top: -42px;
            right: 188px;
            height: 100%;
            z-index: 1;
            transform: scale(.8);
            transition: all .5s ease-in-out;
        }
        &:hover{
            .backIntrdution {
                clip-path: circle(100% at 50% 50%);
                h1,p,button {
                    opacity: 1;
                }
                & ~ img {
                    right: 0;
                    transform: scale(1.1);
                }
            }
        } 
    }
}