.messageBox1 {
    min-width: 210px;
    height: 50px;
    background-color: #fff;
    color: var(--theme-font-color);
    border-radius: 50px;
    box-shadow: 0px 0px 20px #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes showMessage {
    0% {
        top: 0;
    }

    70% {
        top: 20px;
    }

    80% {
        top: 24px;
    }


    100% {
        top: 20px;
    }
}

@keyframes bounce {
    from, 6.66%, 17.66%, 33.33% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    13.33%, 14.33% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
  
    23.33% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
  
    26.66% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    30% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }