.profile {
    color: var(--theme-font-deeper);
    font-family: 'Poppins', 'sans-serif';
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .backGround {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .7s ease-in-out;
        .slider {
            width: 100%;
            height: 100vh;
            
           
            &:first-child {
                background: linear-gradient(115.98849645831115deg, rgba(250, 187, 208,1) 25.23901791754547%,rgba(175, 233, 249,1) 97.28277142234296%);
            }
            &:nth-child(2) {
                background: linear-gradient(115.98849645831115deg, rgba(174, 209, 230,1) 31.375840311700664%,rgba(255, 199, 130,1) 97.28277142234296%);
            }
            &:last-child {
                background: linear-gradient(115.98849645831115deg, rgba(255, 226, 160,1) 5.23042380495524%,rgba(255, 115, 156,1) 97.28277142234296%);
            }
    
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        gap: 50px;
        .imgBox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            animation: fadeChange .6s ease-in-out forwards;
            &.showChange {
                animation: slideChange .6s ease-in-out;
            }
            @keyframes slideChange {
                from {
                    
                    opacity: 1;
                }
                to {
                    opacity: 0;
                    transform: translateY(30px);
                }
            }   
            @keyframes fadeChange {
                from {
                    transform: translateY(30px);
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }

        .info {
            position: relative;
            width: 40%;
            height: 100%;
            .differentNav {
                position: absolute;
                top: 43%;
                animation: downChange .5s ease-in;
                &.showChange {
                    animation: upChange .5s  ease-in;
                }
                @keyframes downChange {
                    from {
                        top:60%;
                        opacity: 0;
                    }
                    to {
                        top: 43%;
                        opacity: 1;
                    }
                }   
                @keyframes upChange {
                    from {
                        top: 43%;
                        opacity: 1;
                    }
                    to {
                        top: 60%;
                        opacity: 0;
                    }
                }
            }
            h2 {
                position: absolute;
                top: 30%;
                width: 550px;
                animation: showChange .6s ease-in-out forwards;
                font-size: 36px;
                letter-spacing: 4px;
                line-height: 36px;
                &.showChange {
                    animation: closeChange .6s ease-in-out;
                }
                @keyframes showChange {
                    0% {
                        left: 100%;
                        opacity: 0;
                    }
                    100% {
                        left: 0%;
                        opacity: 1;
                    }
                }
                @keyframes closeChange {
                    0% {
                        left: 0%;
                        opacity: 1;
                    }
                    100% {
                        left: 100%;
                        opacity: 0;
                    }
                }
            }
        }
        
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #787878;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.735);
    }
    
}
