.content {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #999;
}
.card {
    position: relative;
    font-size: 36px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #f8f8f8;
    transition: all .3s ease-in-out; 
    transform-style: preserve-3d;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    span,.back {
        position:absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        /* 弹性布局，让元素垂直陈列 */
        display: flex;
        flex-direction: column;
        /* 现在子元素垂直陈列，那么就是让子元素水平居中 */
        align-items: center;
        /* 平均分配高度给每一个子元素 */
        justify-content: space-around;
        background-color: #fff;
        border-radius: 30px;
        /* 隐藏旋转div元素的背面 */
        backface-visibility: hidden;

        transform-style: preserve-3d;
    }
    .back {
        transform: rotateY(0.5turn);
    }
    &.clicked{
        transform: rotateY(0.5turn);
        
    }
}   