/* From uiverse.io by @adamgiebl */
.my-fly-button {
    margin-top: 100px;
    font-family: inherit;
    font-size: 20px;
    background:  var(--main-color);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .my-fly-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .my-fly-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .my-fly-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .my-fly-button:hover svg {
    transform: translateX(2.2em) rotate(45deg) scale(1.1);
   }
   
   .my-fly-button:hover span {
    transform: translateX(6em);
   }
   
   .my-fly-button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
}

.fixedBox {
    position: absolute;
    bottom: 5%;
    right: 4%;
    width:50px;
   .content {
        width: 180px;
        height: 0px;
        transition: all ease-in .5s;
        visibility: hidden;
        margin-bottom: 20px;
        color: var(--theme-font-deeper);
        padding: 10px 15px;
        box-sizing: border-box;
        position: relative;
        top: -10px;
        left: -76px;
        border-radius: 10px;
        .watermark {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;
            .item {
                text-align: center;
                width: 100%;
                margin: 10px 0;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
                font-size: 0.2rem;
                &:last-child {
                    border: none;
                }
            }
        }   
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 47%;
            width: 0;
            height: 0;
            border-top: 10px solid var(--theme-icon-color);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }
    &:hover {
        .content {
            height: 280px;
            visibility: visible;
            background-color: var(--theme-icon-color);
        }
    }
    .copyRight {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-font-deeper);
        font-size: 32px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--main-color);
        box-shadow: 0  0px 15px var(--main-color),
                        0  0px 25px var(--main-color),
                        0  0px 35px var(--main-color);
                        transition: all ease .5s; 
    }
}


