.door {
    color: #fff;
    .fixContent {
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: rgba(#333, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .welcome {
            color: #fff;
            font-size: 4.7rem;
            font-weight: 200;
            padding-top: 180px;
            animation: shining 2s ease-in-out infinite alternate;
            
            span {
                margin: 0 26px;
                background: transparent;
                color: #fff;
                animation: fontBackColor 2s ease-in-out infinite alternate;
                animation-delay: calc(var(--mystyle)*0.3s);

            }
        }

        .info {
            margin-top: 200px;
            color: white;
            width: 50em;
            font-size: 1.6em;
            height: 1.2em;
            line-height: 1.2em;
            border-right: 1px solid transparent;
            animation: typing 4s steps(42), blink-caret .75s step-end infinite;
            font-family: Consolas, Monaco;
            word-break: break-all;
            overflow: hidden;
        }

        .footer {
            margin-top: 100px;
            height: 20px;
            width: 100px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .arrow:after, .arrow:before {
                background: #fff;
                content: "";
                display: block;
                height: 3px;
                position: absolute;
                top: 0;
                left: 0;
                width: 13px;
                box-shadow: 1px 1px 20px 0 #fff;
            }
            .arrow:before {
                transform: rotate(45deg) translateX(-10%);
                transform-origin: top left;
            }
            .arrow:after {
                transform: rotate(-45deg) translateX(10%);
                transform-origin: top right;
            }
            .arrow-1 {
                animation: arrow-movement 3s ease-in-out infinite;
            }
            .arrow-2 {
                animation: arrow-movement 3s 1s ease-in-out infinite;
            }
            .arrow-3 {
                animation: arrow-movement 3s 2s ease-in-out infinite;
            }
            .arrow {
                position: absolute;
                top: 50px;
                transform-origin: 50% 50%;
                transform: translate3d(-50%,0,0);
            }
            .enter {
                position: absolute;
                top: -35px;
                left: 35px;
            }
        }
    }

    .secondFloor {
        width: 100%;
        height: 100vh;
        margin-top: 100vh;
        background-color: var(--theme-background);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .show {
        animation: showFloor 2s ease forwards;
    }
}

// 欢迎文字颜色与背景渐变
@keyframes fontBackColor {
    to {
        color: var(--main-color);
        text-shadow: 20px 0 70px var(--main-color);
    }
}

// 文字模糊效果

@keyframes shining {

    0% {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #333, 0 0 8px #333, 0 0 9px #333, 0 0 10px #333, 0 0 15px #333;
    }

    100% {
        text-shadow: 0 0 0.5px #fff, 0 0 1px #fff, 0 0 1.5px #fff, 0 0 2px #333, 0 0 4px #333, 0 0 5px #333, 0 0 6px #333, 0 0 8px #333;
    }
}

// 下标指引动画

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// 二层内容进入动画
@keyframes showFloor {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(-60vh);
        opacity: 0.5;
    }
    60% {
        transform: translateY(-70vh);
        opacity: 0.75;
    }
    70% {
        transform: translateY(-55vh);
        opacity: 0.75;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 1;
    }
}


/* 打印效果 */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 50em;
    }
}

/* 光标 */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: currentColor;
    }
}