.door {
    color: #fff;
    .fixContent {
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: rgba(#333, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .welcome {
            color: #fff;
            font-size: 4.7rem;
            font-weight: 200;
            padding-top: 180px;
            animation: shining 2s ease-in-out infinite alternate;
            
            span {
                margin: 0 26px;
                background: transparent;
                color: #fff;
                animation: fontBackColor 2s ease-in-out infinite alternate;
                animation-delay: calc(var(--mystyle)*0.3s);

            }
        }

        .info {
            margin-top: 200px;
            color: white;
            width: 50em;
            font-size: 1.6em;
            height: 1.2em;
            line-height: 1.2em;
            border-right: 1px solid transparent;
            animation: typing 4s steps(42), blink-caret .75s step-end infinite;
            font-family: Consolas, Monaco;
            word-break: break-all;
            overflow: hidden;
        }

        .footer {
            margin-top: 100px;
            height: 20px;
            width: 100px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .arrow:after, .arrow:before {
                background: #fff;
                content: "";
                display: block;
                height: 3px;
                position: absolute;
                top: 0;
                left: 0;
                width: 13px;
                box-shadow: 1px 1px 20px 0 #fff;
            }
            .arrow:before {
                transform: rotate(45deg) translateX(-10%);
                transform-origin: top left;
            }
            .arrow:after {
                transform: rotate(-45deg) translateX(10%);
                transform-origin: top right;
            }
            .arrow-1 {
                animation: arrow-movement 3s ease-in-out infinite;
            }
            .arrow-2 {
                animation: arrow-movement 3s 1s ease-in-out infinite;
            }
            .arrow-3 {
                animation: arrow-movement 3s 2s ease-in-out infinite;
            }
            .arrow {
                position: absolute;
                top: 50px;
                transform-origin: 50% 50%;
                transform: translate3d(-50%,0,0);
            }
            .enter {
                position: absolute;
                width: 135px;
                top: -45px;
                left: -8px;
                animation: bounce 4s ease-in-out infinite;
                padding: 6px 30px;
                box-sizing: border-box;
                background-color: rgba(255, 255, 255, 0.251);
                border-radius: 50px;      
            }
        }
    }

    .secondFloor {
        width: 100%;
        height: 100vh;
        margin-top: 100vh;
        background-color: var(--theme-background);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .secondChangePlan {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 20%;
            position: relative;
            .input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 100;
            }
            .number {
                width: 20%;
                height: 80px;
                backdrop-filter: blur(3px);
                background-color: rgba(white, 0.1);
                border: 1px solid rgba(white, 0.1);
                border-radius: 12px;
                transition: all .3s ease-in-out;
                font-size: 36px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: rgba(white, 0.2);
                    border: 1px solid rgba(white, 0.3);
                }
            }
            .number.shaking {
                border-color: var(--main-color);
            }
            .shaking {
                animation: shaking 1s ease-in;
            }
        }
    }
    .show {
        animation: showFloor 2s ease forwards;
    }
    .law {
        position: fixed;
        z-index: 200;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color:#939393;
            transition: all .3s ease-in-out;
            text-decoration: none;
            margin-right: 10px;
            &:hover {
                color: var(--main-color);
            }
            img {
                margin-right: 6px;
            }
        }
    }
}

// 欢迎文字颜色与背景渐变
@keyframes fontBackColor {
    to {
        color: var(--main-color);
        text-shadow: 20px 0 70px var(--main-color);
    }
}

// 文字模糊效果

@keyframes shining {

    0% {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #333, 0 0 8px #333, 0 0 9px #333, 0 0 10px #333, 0 0 15px #333;
    }

    100% {
        text-shadow: 0 0 0.5px #fff, 0 0 1px #fff, 0 0 1.5px #fff, 0 0 2px #333, 0 0 4px #333, 0 0 5px #333, 0 0 6px #333, 0 0 8px #333;
    }
}

// 下标指引动画

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// 二层内容进入动画
@keyframes showFloor {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(-20vh);
        opacity: 0.5;
    }
    60% {
        transform: translateY(-30vh);
        opacity: 0.75;
    }
    70% {
        transform: translateY(-10vh);
        opacity: 0.75;
    }
    100% {
        transform: translateY(-10vh);
        opacity: 1;
    }
}


/* 打印效果 */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 50em;
    }
}

/* 光标 */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: currentColor;
    }
}


@keyframes bounce {
    from, 6.66%, 17.66%, 33.33% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    13.33%, 14.33% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
  
    23.33% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
  
    26.66% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    30% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
  
  @keyframes shaking {
    0%{
        transform:translateX(10px);
    }
    20%{
        transform:translateX(-7px);
    }
    40%{
         transform:translateX(5px)
    }
    60%{
        transform:translateX(-3px);
    }
    80%{
        transform:translateX(6px)
    }
   100%{
       transform:translateX(-10px);
    }
  }